/ Implementação provisória apenas para viabilizar uso da interface. 
/ Pode substituir pela definitiva!!!

%h1 Login

= form_tag login_path, method: :post do
  .campo
    %label{ for: "email" } Email
    = text_field_tag :email

  .campo
    %label{ for: "senha" } Senha
    = password_field_tag :senha

  = submit_tag "Entrar"