= stylesheet_link_tag "formulario.css"

%h1 Gerenciamento - Resultados

.container
    - @formularios.each do |form|
        .card
            %p.texto-destaque= form.turma.disciplina.nome
            %p.semestre= form.turma.semestre
            %p.texto-destaque= (get_nome_professor form.turma)